* text=auto eol=lf

*.cs text diff=csharp
*.shader text
*.compute text
*.hlsl text
*.cginc text
*.uss text
*.uxml text

*.unity text merge=unityyamlmerge eol=lf
*.prefab text merge=unityyamlmerge eol=lf
*.asset text merge=unityyamlmerge eol=lf
*.meta text eol=lf
*.mat text merge=unityyamlmerge eol=lf
*.anim text merge=unityyamlmerge eol=lf
*.controller text merge=unityyamlmerge eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.psd binary
*.tga binary
*.fbx binary
*.blend binary
*.wav binary
*.mp3 binary
*.ogg binary
*.mp4 binary
*.mov binary
